<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <title>Angolia</title>
    
    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">


    <script src="//cdn.jsdelivr.net/angularjs/1.4.1/angular.min.js"></script>
	<script src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.angular.min.js"></script>
	

	<script src="_inc/js/app.js"></script>

</head>
<body ng-app="myapp">
	
     <div class="container" 
	       ng-controller="SearchCtrl">
	     
	     <div class="row">
		     <div class="col-xs-12 padding">
			     
		     	 <input 
			     	   ng-model="q" 
			     	   type="search"
			     	   ng-keydown="k()";
			     	   placeholder="search"/>
			     	   
	     	</div>
	     </div>
	     
	     <p>
		     <ul class="list-inline">
			     <li ng-repeat="item in hits" 
			         class="thumbnail">
			         <img src="{{item.doc.thumb}}" />
			    	 {{item.doc.label}}
			     </li>
		     </ul>
	     </p>
	     
	     <p>{{fail}}
		     
		     
		     
     </div>
   
   
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	
</body>
</html>